.main-weather-container {
    @include frosted;
    @include morph-from-bottom(100vh);
    width: min-content;
    display: flex;
    flex-direction: row;

    padding: $big-margin;
    border-radius: $big-margin;

    .temperature {
        z-index: 1;
        margin: $big-margin;

        .temp {
            @include morph-from-bottom(100vh);
            font-size: 12.5rem;
        }

        .feels-like {
            @include morph-from-bottom(200vh);
            margin-top: 0;
            font-size: 3rem;
            opacity: 0.9;
        }

        .high-low {
            @include morph-from-bottom(300vh);
            font-size: 1.5rem;
            opacity: 0.8;
        }
    }
    .weather {
        margin: $big-margin;
        .weather-description {
            @include morph-from-bottom(100vh, 2s);
            font-size: 5rem;
            opacity: 80%;
        }
    }
}
