.icon-sun {
    image-rendering: auto;
    @include morph(left, 300, 0.5s);
}
.icon-cloud1 {
    image-rendering: auto;
    @include morph(left, 200, 0.5s);
}
.icon-cloud2 {
    image-rendering: auto;
    @include morph(right, 100, 0.5s);
}
