.container {
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav {
    font-size: 3em;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
}

.title {
    font-size: 0.9em;
    margin: $margin;
}

h1 {
    color: $beige;
    font-size: 0.9em;
    margin: 0px $margin;
}

h2 {
    font-size: 0.75em;
    margin: 0px $margin;
}
section {
    display: flex;
    justify-content: center;
}
