.location-container {
    position: inherit;
    width: 30rem;

    .location-blob {
        width: 50rem;
        left: 0;
        z-index: -1;
    }
    .location-search {
        display: flex;
        flex-direction: column;
        width: 100%;
        .city {
            position: relative;
            margin-left: 10rem;
            margin-top: 10rem;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            flex-wrap: nowrap;
            font-size: 4rem;
            i {
                font-size: 3rem !important;
                margin-right: 1rem;
            }
        }
        .search-bar {
            position: relative;
            margin-left: 10rem;
            margin-top: 2rem;
            width: 100%;
        }
    }
}
