.container {
    position: inherit;

    .weather {
        position: inherit;
        z-index: 1;
        left: 10%;
        top: 10%;

        .temperature {
            font-size: 10rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .unit {
                margin-top: 1em;
                font-size: 2rem;
                opacity: 0.9;
            }
        }

        .feels-like {
            font-size: 2rem;
            opacity: 0.9;
        }

        .high-low {
            font-size: 1.5rem;
            opacity: 0.8;
        }

        .weather-description {
            font-size: 5rem;
            opacity: 80%;
        }
    }

    .blob {
        width: 60rem;
        z-index: -1;
        margin: -3rem;
    }
}
