.search-with-dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 100%;

    .input-with-icon {
        @include frosted;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        width: 100%;
        padding: $small-margin;
        margin: $small-margin;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 0 1rem rgba(58, 57, 57, 0.2);

        &:hover {
            background-color: rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 1.5rem rgba(58, 57, 57, 0.2);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1.5rem rgba(58, 57, 57, 0.3);
            border: none;
        }
        &:focus {
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1.5rem rgba(58, 57, 57, 0.3);
            border: none;
        }

        i {
            width: min-content;
            padding: $small-margin;
            margin: $small-margin;
        }

        input {
            font-size: 1em;
            cursor: text;
            width: 100%;
            padding: $small-margin;
            margin: $small-margin;

            background-color: transparent;
            border: none;
            outline: none;
            color: inherit;
            font-family: inherit;
            font-weight: inherit;
        }
    }

    ul {
        @include frosted;

        padding: $small-margin;
        margin: $small-margin;

        width: 100%;
        li {
            @include frosted;
            background-color: transparent;
            margin: $small-margin;
            list-style-type: none;
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 1.5rem rgba(58, 57, 57, 0.2);
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 1.5rem rgba(58, 57, 57, 0.3);
                border: none;
            }
        }
    }
}
