.main-weather-container {
    @include frosted;
    @include morph(bottom, 100);
    width: min-content;
    display: flex;
    flex-direction: row;

    padding: $big-margin;
    border-radius: $big-margin;

    .temperature {
        z-index: 1;
        margin: $big-margin;

        .temp {
            @include morph(bottom, 100);
            font-size: 12.5rem;
        }

        .feels-like {
            @include morph(bottom, 200);
            margin-top: 0;
            font-size: 3rem;
            opacity: 0.9;
        }

        .high-low {
            @include morph(bottom, 300);
            font-size: 1.5rem;
            opacity: 0.8;
        }
    }
    .weather {
        margin: $big-margin;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;

        .weather-description {
            @include morph(bottom, 200, 1s);
            font-size: 5rem;
            opacity: 80%;
        }
    }
}
