// @font-face {
//     font-family: "Comfortaa";
//     font-style: normal;
//     font-weight: normal;
//     src: url(./assets/fonts/Comfortaa-Regular.ttf) format("truetype");
// }
// @font-face {
//     font-family: "Comfortaa";
//     font-style: light;
//     font-weight: normal;
//     src: url(./assets/fonts/Comfortaa-Bold.ttf) format("truetype");
// }
// @font-face {
//     font-family: "Comfortaa";
//     font-style: normal;
//     font-weight: bold;
//     src: url(./assets/fonts/Comfortaa-Light.ttf) format("truetype");
// }

@font-face {
    font-family: gotham-book;

    src: url(../src/assets/fonts/Gotham-Book.otf) format("opentype");
}

@font-face {
    font-family: gotham-light;

    src: url(../src/assets/fonts/Gotham-Light.otf) format("opentype");
}

@font-face {
    font-family: gotham-medium;

    src: url(../src/assets/fonts/Gotham-Medium.otf) format("opentype");
}

body {
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "gotham-medium", sans-serif;
    text-shadow: 0 0 1rem rgba(58, 57, 57, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
