// @font-face {
//     font-family: "Comfortaa";
//     font-style: normal;
//     font-weight: normal;
//     src: url(./assets/fonts/Comfortaa-Regular.ttf) format("truetype");
// }
// @font-face {
//     font-family: "Comfortaa";
//     font-style: light;
//     font-weight: normal;
//     src: url(./assets/fonts/Comfortaa-Bold.ttf) format("truetype");
// }
// @font-face {
//     font-family: "Comfortaa";
//     font-style: normal;
//     font-weight: bold;
//     src: url(./assets/fonts/Comfortaa-Light.ttf) format("truetype");
// }

@font-face {
    font-family: gotham;
    font-style: book;
    src: url(../src/assets/fonts/Gotham-Book.otf) format("opentype");
}

@font-face {
    font-family: gotham;
    font-style: light;
    src: url(../src/assets/fonts/Gotham-Light.otf) format("opentype");
}

body {
    margin: 0;
    background-color: background_color;
    font-family: -apple-system, BlinkMacSystemFont, "gotham", sans-serif;
    font-weight: 500;
    font-style: book;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
