@mixin morph($direction, $from, $delay: 0s) {
    $name: inline-#{unique-id()};

    visibility: hidden;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $delay;
    animation-duration: 2s;
    animation-name: $name;

    @if $direction == bottom {
        @include morph-bottom($name, $from);
    }

    @if $direction == left {
        @include morph-left($name, $from);
    }

    @if $direction == right {
        @include morph-right($name, $from);
    }
}

@mixin morph-bottom($name, $from) {
    @keyframes #{$name} {
        from {
            transform: translateY($from + vh);
            visibility: hidden;
        }

        to {
            transform: translateY(0);
            visibility: visible;
        }
    }
}
@mixin morph-left($name, $from) {
    @keyframes #{$name} {
        from {
            transform: translateX(-1 * $from + vw);
            visibility: hidden;
        }

        to {
            transform: translateX(0);
            visibility: visible;
        }
    }
}

@mixin morph-right($name, $from) {
    @keyframes #{$name} {
        from {
            transform: translateX($from + vw);
            visibility: hidden;
        }

        to {
            transform: translateX(0);
            visibility: visible;
        }
    }
}

@mixin animation($name, $duration, $delay) {
    -webkit-animation-name: $name;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-name: $name;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-name: $name;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: $duration;
    -o-animation-delay: $delay;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-name: $name;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}
