@mixin translate-left($name) {
    @keyframes #{$name} {
        0% {
            left: -35%;
        }
        100% {
            left: 100%;
        }
    }
}

@mixin translate-right($name) {
    @keyframes #{$name} {
        0% {
            left: 100%;
        }
        100% {
            left: -35%;
        }
    }
}

@mixin translate-left-animation($name) {
    @include translate-left($name);
    @include animation($name);
}

@mixin translate-right-animation($name) {
    @include translate-right($name);
    @include animation($name);
}

@mixin animation($name) {
    -webkit-animation-name: $name;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-name: $name;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-name: $name;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-name: $name;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}
