$background_color: #fcf3eb;

$dark_green: #84ada4;
$light_green: #cafaf0;

$dark_purple: #848aad;
$light_purple: #cad1fa;

$light_beige: #ffe9ce;
$beige: #fbc98c;

$night: #1e222e;

.color-dark-green {
    color: $dark_green;
}

.color-light-green {
    color: $light_green;
}
