$background_color : #FAEAD6;

$dark_green : #84ADA4;
$light_green: #CAFAF0;

$dark_purple: #848AAD;
$light_purple: #CAD1FA;

$light_beige: #ffe9ce;
$beige: #FBC98C;

.color-dark-green {
    color: $dark_green;
}

.color-light-green {
    color: $light_green;
}